*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  box-sizing: inherit;
  font-family: "Montserrat", sans-serif;

  background: $primary-color;
  color: $tertiary-color;
}

// Links
a,
a:visited {
  text-decoration: none;
}

// Flex

.flex {
  display: flex;

  &-fd-c {
    flex-direction: column;
  }

  &-ai-c {
    align-items: center;
  }

  &-jc-sa {
    justify-content: space-around;
  }

  &-jc-c {
    justify-content: center;
  }

  &-jc-se {
    justify-content: space-evenly;
  }

  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-r {
    justify-content: right;
  }
}

// Visibility

.hide-for-mobile {
  @include breakpoint-up(medium) {
    display: none;
  }
}

.hide-for-desktop {
  @include breakpoint-down(medium) {
    display: none;
  }
}

ul {
  li {
    list-style: none;
  }
}

// Selected text

*::selection {
  background: $secondary-color;
}

// Primary button
.primary-button {
  background: $secondary-color;
  color: $primary-color;
  font-weight: 700;

  border-radius: 1rem;
}

// Font size Mobile
html {
  @include breakpoint-up(medium) {
    font-size: 14px;
  }

  scroll-behavior: smooth;
}
