*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  font-family: "Montserrat", sans-serif;
  background: #f5f9fa;
  color: #707070;
}

a,
a:visited {
  text-decoration: none;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fd-c {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jc-sa {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jc-se {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-r {
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

@media screen and (max-width: 47.5rem) {
  .hide-for-mobile {
    display: none;
  }
}

@media screen and (min-width: 64rem) {
  .hide-for-desktop {
    display: none;
  }
}

ul li,
ol li {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

*::-moz-selection {
  background: #50d890;
}

*::selection {
  background: #50d890;
}

.primary-button {
  background: #50d890;
  color: #f5f9fa;
  font-weight: 700;
  border-radius: 1rem;
}

html {
  scroll-behavior: smooth;
}

@media screen and (max-width: 47.5rem) {
  html {
    font-size: 14px;
  }
}

.lazy-load {
  -webkit-transform: translateX(-6.25rem);
          transform: translateX(-6.25rem);
  opacity: 0;
}

.lazy-load-start {
  -webkit-animation: leftToRight 1s ease forwards;
          animation: leftToRight 1s ease forwards;
}

@-webkit-keyframes leftToRight {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftToRight {
  0% {
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.container {
  width: 90%;
  max-width: 1400px;
  height: auto;
  margin: 20px auto;
  margin-top: 0.625rem;
}

.header {
  height: 5rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 1px;
  background: #f5f9fa;
  z-index: 50;
}

.header .logo {
  height: 100%;
}

.header .logo img {
  pointer-events: none;
  height: 80%;
}

.header .menu {
  gap: 2px;
  padding: 0.625rem;
  cursor: pointer;
}

.header .menu span {
  display: block;
  height: 0.2875rem;
  width: 1.5625rem;
  background: #707070;
  border-radius: 1rem;
}

@media screen and (max-width: 64rem) {
  .header .nav {
    z-index: 100;
    top: 1rem;
    right: 0;
    position: fixed;
    width: 50vw;
    height: 85vh;
    -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
            box-shadow: 0 0 1.875rem -1.25rem #707070;
    background: #f5f9fa;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .header .nav .nav__close-btn {
    position: relative;
    padding: 0.625rem;
  }
  .header .nav .nav__close-btn i {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 2.5rem;
    color: #707070;
    text-align: center;
  }
  .header .nav .nav__link {
    width: 100%;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3rem;
    font-weight: 700;
    color: #707070;
  }
  .header .show {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 64rem) {
  .header .nav {
    gap: 1.5625rem;
  }
  .header .nav .nav__link {
    font-size: 1.25rem;
    font-weight: 700;
    color: #707070;
    position: relative;
    overflow-x: hidden;
    padding: 10px 0;
  }
  .header .nav .nav__link::after {
    position: absolute;
    content: "";
    background: #50d890;
    display: block;
    width: 100%;
    height: 4px;
    -webkit-transform: translateX(-120%);
            transform: translateX(-120%);
    -webkit-transition: ease 0.3s;
    transition: ease 0.3s;
  }
  .header .nav .nav__link:hover::after {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero-section {
  width: 100%;
  margin-top: 3.125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
}

@media screen and (max-width: 47.5rem) {
  .hero-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.hero-section .hero-texts {
  gap: 2rem;
}

@media screen and (max-width: 47.5rem) {
  .hero-section .hero-texts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hero-section .hero-texts .hero-texts__title {
  font-size: 3.2rem;
  font-weight: 700;
  position: relative;
}

.hero-section .hero-texts .hero-texts__subtitle {
  font-size: 1.3rem;
  font-weight: 400;
  padding-left: 0.3125rem;
  border-left: 0.3125rem dotted #50d890;
}

@media screen and (max-width: 47.5rem) {
  .hero-section .hero-texts .hero-texts__title,
  .hero-section .hero-texts .hero-texts__subtitle {
    text-align: center;
  }
}

.hero-section .hero-texts .hero-text__btn {
  display: block;
  padding: 0.9375rem 3.125rem;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}

.hero-section .hero-image {
  pointer-events: none;
  min-width: 60%;
}

.hero-section .hero-image img {
  width: 90%;
  height: 90%;
}

.hero-texts__title::before {
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  width: 4rem;
  height: 4rem;
  left: -1.3rem;
  top: -0.3125rem;
  border-radius: 100%;
  background: #50d890;
  -webkit-animation: flickering 0.6s ease-in-out infinite alternate;
          animation: flickering 0.6s ease-in-out infinite alternate;
}

@-webkit-keyframes flickering {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes flickering {
  0% {
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.benefits {
  margin-top: 3.125rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.benefits .benefits__title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5rem;
}

.benefits .benefit {
  background: #f5f9fa;
  -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
          box-shadow: 0 0 1.875rem -1.25rem #707070;
  gap: 1.25rem;
  padding: 20px;
  cursor: text;
  border-radius: 1rem;
}

.benefits .benefit .benefit__icon {
  color: #707070;
}

.benefits .benefit .benefit__description {
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 2;
}

.benefits .benefit .benefit__description::first-line {
  font-size: 1.3rem;
  font-weight: 700;
}

.scholarship-counter {
  margin-top: 3.125rem;
  width: 100%;
}

@media screen and (max-width: 47.5rem) {
  .scholarship-counter {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.scholarship-counter .scholarship-counter__image img {
  height: 80%;
  width: 80%;
}

.scholarship-counter .scholarship-counter__image #boy {
  -webkit-animation: slowShake 1s infinite alternate ease-in-out;
          animation: slowShake 1s infinite alternate ease-in-out;
}

.scholarship-counter .scholarship-counter__title {
  font-size: 6.25rem;
  text-align: center;
}

.scholarship-counter .scholarship-counter__description {
  text-align: center;
  font-size: 0.9rem;
}

@-webkit-keyframes slowShake {
  0% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
}

@keyframes slowShake {
  0% {
    -webkit-transform: rotateX(-20deg);
            transform: rotateX(-20deg);
  }
  100% {
    -webkit-transform: rotateX(10deg);
            transform: rotateX(10deg);
  }
}

.requirements {
  margin-top: 3.125rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(18.75rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(18.75rem, 1fr));
  gap: 1.25rem;
}

.requirements .requirements__title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5rem;
}

.requirements .requirement {
  -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
          box-shadow: 0 0 1.875rem -1.25rem #707070;
  padding: 1.25rem;
  gap: 1.25rem;
}

.requirements .requirement .requirement__icon {
  font-size: 1.3rem;
}

.requirements .requirement .requirement__title {
  font-size: 1.3rem;
}

.requirements .requirement .requirement__description {
  font-size: 0.9rem;
  line-height: 2;
}

.graduates {
  margin-top: 6.25rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1.875rem;
}

.graduates .graduates__title {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 2.5rem;
}

.graduates .graduate {
  gap: 0.625rem;
  -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
          box-shadow: 0 0 1.875rem -1.25rem #707070;
  border-radius: 1rem;
  overflow: hidden;
}

.graduates .graduate .graduate__photo {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.graduates .graduate .graduate__photo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.float-menu {
  position: fixed;
  right: 1rem;
  top: 5rem;
  height: auto;
  background: #50d890;
  padding: 1.25rem 2rem;
}

.location {
  margin-top: 3.125rem;
}

.location .location__title {
  font-size: 2.5rem;
  text-align: center;
  margin: 1.25rem;
}

.location .location__map {
  width: 100%;
  height: 21.875rem;
  -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
          box-shadow: 0 0 1.875rem -1.25rem #707070;
  border: none;
  border-radius: 1rem;
}

.location .location__link-map img {
  width: 50%;
}

.about {
  margin-top: 3.125rem;
  border-top: 0.5rem dotted #50d890;
  border-bottom: 0.5rem dotted #50d890;
  padding: 1.875rem 0;
  gap: 1.25rem;
}

.about .about__title {
  font-size: 2.5rem;
  text-align: center;
  line-height: 2;
  position: relative;
}

.about .about__description {
  line-height: 2;
  text-align: justify;
}

@media screen and (max-width: 47.5rem) {
  .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media screen and (min-width: 47.5rem) {
  .about .about__image {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
  .about .about__image img {
    width: 100%;
  }
}

.about .about__title::after {
  width: 2.5rem;
  height: 2.5rem;
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: #50d890;
  -webkit-animation: square-dancing 3s infinite alternate ease;
          animation: square-dancing 3s infinite alternate ease;
}

@-webkit-keyframes square-dancing {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

@keyframes square-dancing {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
            transform: rotate(0deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(1);
            transform: rotate(360deg) scale(1);
  }
}

.contact-section {
  margin-top: 3.125rem;
}

.contact-section .contacts__title {
  font-size: 2.5rem;
  text-align: center;
}

.contact-section .contacts {
  gap: 1.25rem;
}

.contact-section .contact {
  font-size: 3.125rem;
  color: #707070;
  line-height: 2;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.contact-section .contact:hover {
  color: #50d890;
}

.programs-section {
  width: 100%;
  margin-top: 3.125rem;
}

.programs-section .programs-section__title {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 3.125rem;
}

.programs-section .programs {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 0 auto;
  gap: 1.25rem;
}

.programs-section .programs .program {
  gap: 1rem;
  -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
          box-shadow: 0 0 1.875rem -1.25rem #707070;
  padding: 1rem;
  cursor: pointer;
}

.programs-section .programs .program:hover > .program__image {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

.programs-section .programs .program .program__image {
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.programs-section .programs .program .program__image img {
  width: 100%;
  height: 100%;
}

.programs-section .programs .program .program__name {
  text-align: center;
  font-size: 1.3rem;
}

.programs-section .programs .program .program__description {
  text-align: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  line-height: 2;
  font-size: 0.9rem;
}

@-webkit-keyframes dance {
  0% {
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes dance {
  0% {
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

.selection-process {
  margin-top: 3.125rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;
}

.selection-process .selection-process__title {
  text-align: center;
  font-size: 2.5rem;
}

.selection-process .selection-process__image {
  margin-top: 3.125rem;
}

@media screen and (max-width: 47.5rem) {
  .selection-process .selection-process__image img {
    width: 60%;
  }
}

@media screen and (min-width: 47.5rem) {
  .selection-process .selection-process__image img {
    width: 30%;
  }
}

.selection-process .wave {
  width: 100%;
  -webkit-transform: translateY(1rem);
          transform: translateY(1rem);
}

.selection-process .steps {
  background: #50d890;
  padding: 1.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
}

.selection-process .steps .step {
  padding: 1.25rem;
  background: #f5f9fa;
  color: #707070;
  -webkit-box-shadow: 0 0 1.875rem -1.25rem #707070;
          box-shadow: 0 0 1.875rem -1.25rem #707070;
  -webkit-transition: -webkit-box-shadow 500ms ease;
  transition: -webkit-box-shadow 500ms ease;
  transition: box-shadow 500ms ease;
  transition: box-shadow 500ms ease, -webkit-box-shadow 500ms ease;
  border-radius: 1rem;
  cursor: pointer;
}

.selection-process .steps .step .step__number {
  font-size: 2.5rem;
  text-align: center;
  -webkit-transition: -webkit-transform 300ms ease;
  transition: -webkit-transform 300ms ease;
  transition: transform 300ms ease;
  transition: transform 300ms ease, -webkit-transform 300ms ease;
}

.selection-process .steps .step:hover > .step__number {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.selection-process .steps .step .step__title {
  font-size: 1.1rem;
  text-align: center;
}

.selection-process .steps .step .step__description {
  font-size: 0.9rem;
  text-align: center;
  line-height: 2;
}

.footer {
  margin-top: 3.125rem;
  font-weight: 700;
  background: #f5f9fa;
}

.footer p {
  font-size: 1rem;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */