.benefits-section {
  margin-top: $margin-top-section;
  width: 100%;

  .benefits-section__title {
    text-align: center;
    font-size: $h2;
  }

  .benefits {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
  }

  .benefit {
    background: $primary-color;
    box-shadow: $box-shadow-light;
    gap: 1.25rem;
    padding: 20px;

    cursor: text;

    border-radius: 1rem;

    .benefit__icon {
      color: $tertiary-color;
    }

    .benefit__description {
      font-size: $p;
      &::first-line {
        font-size: $h3;
        font-weight: 700;
      }

      font-weight: 400;
      line-height: 2;
    }
  }
}
