.contact-section {
  margin-top: $margin-top-section;

  .contacts__title {
    font-size: $h2;
    text-align: center;
  }

  .contacts {
    gap: 1.25rem;
  }

  .contact {
    font-size: 3.125rem;
    color: $tertiary-color;
    line-height: 2;
    transition: color 0.3s ease;

    &:hover {
      color: $secondary-color;
    }
  }
}
