.hero-section {
  width: 100%;
  margin-top: $margin-top-section;

  display: flex;
  gap: 0.625rem;

  @include breakpoint-up(medium) {
    flex-direction: column;
  }

  .hero-texts {
    @include breakpoint-up(medium) {
      align-items: center;
    }
    gap: 2rem;

    .hero-texts__title {
      font-size: $h1;
      font-weight: 700;

      position: relative;
    }

    .hero-texts__subtitle {
      font-size: $h3;
      font-weight: 400;

      padding-left: 0.3125rem;
      border-left: 0.3125rem dotted $secondary-color;
    }

    .hero-texts__title,
    .hero-texts__subtitle {
      @include breakpoint-up(medium) {
        text-align: center;
      }
    }

    .hero-text__btn {
      display: block;
      padding: 0.9375rem 3.125rem;
      width: min-content;
    }
  }

  .hero-image {
    pointer-events: none;

    min-width: 60%;
    img {
      width: 90%;
      height: 90%;
    }
  }
}

// Bubbles animations
.hero-texts__title::before {
  display: block;
  content: "";

  position: absolute;
  z-index: -1;

  width: 4rem;
  height: 4rem;
  left: -1.3rem;
  top: -0.3125rem;

  border-radius: 100%;

  background: $secondary-color;

  animation: flickering 0.6s ease-in-out infinite alternate;
}

@keyframes flickering {
  0% {
    transform: scale(0.6);
  }

  100% {
    transform: scale(1);
  }
}
