$num-steps: 4;

.selection-process {
  //   background: url(../../../app/img/wave.svg) no-repeat top;
  margin-top: $margin-top-section;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  overflow: hidden;

  .selection-process__title {
    text-align: center;
    font-size: $h2;
  }

  .selection-process__image {
    margin-top: $margin-top-section;
    img {
      @include breakpoint-up(medium) {
        width: 60%;
      }
      @include breakpoint-down(medium) {
        width: 30%;
      }
    }
  }

  .wave {
    width: 100%;
    transform: translateY(1rem);
  }
  .steps {
    background: $secondary-color;
    padding: 1.25rem;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1.5rem;

    .step {
      padding: 1.25rem;
      background: $primary-color;

      color: $tertiary-color;
      box-shadow: $box-shadow-light;
      transition: box-shadow 500ms ease;
      border-radius: 1rem;
      cursor: pointer;

      .step__number {
        font-size: $h2;
        text-align: center;

        transition: transform 300ms ease;
      }

      &:hover > .step__number {
        transform: scale(1.4);
      }

      .step__title {
        font-size: $h4;
        text-align: center;
      }

      .step__description {
        font-size: $p;
        text-align: center;
        line-height: 2;
      }
    }

    // Usar for para animar
  }
}
